body {
    font-family: 'Zilla Slab';
    background-color: antiquewhite;
}

p {
    font-size: 200%;
    padding: 4px;
}

input{
    padding: 4px;
    padding-right: 12px;
    border-radius: 6px;
    border-style: solid;
}

input[type=submit] {
    background-color: transparent;
    margin-top: 6px;
    padding-right: 4px;
}

input[type=submit]:hover {
    background-color: black;
    color: white;
}

a {
    padding: 8px;
    color: black;
    border-style: solid;
    background-color: transparent;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

a:hover {
    color: white;
    background-color: black;
}